<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METADATA -->
    <%- include('partials/head'); %>
    <title><%= title %></title>
</head>

<body>
    <!-- MAIN CONTENT-->
    <div class="container cont-j">

        <!-- JUMBOTRON -->
        <div class="jumbotron my-auto">

            <!-- JUMBO-CONTENT -->
            <div>
                <img src="images/botcat.jpg" class="rounded-circle rounded mx-auto d-block img-fluid" height="50">
                <h2 class="display-4 text-center h2"><i><%= name %></i></h2>
                <p class="lead"><%= desc %></p>
            </div>

            
            <div>
                    <%- include('partials/nav'); %>
                </div>

        </div>

        
    </div>

    <!-- SCRIPTS -->
    <div>
        <%- include('partials/script'); %>
    </div>

</body>

</html>