<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to <%= title %></p> -->

    <!-- <div style="display: flex;justify-content: center; padding: 10px;">
      <input 
      type="button" 
      value="About"
      id="about"
      onclick="onClickBtn('about')"
      >

      <input 
      type="button" 
      value="User"
      id="user"
      onclick="onClickBtn('user')"
      >

      <input 
      type="button" 
      value="Setting"
      id="setting"
      onclick="onClickBtn('setting')"
      >
    </div> -->

    <!-- <div class="navbar-nav">
      <a class="nav-link n-item" href="/about">About</a>
      <a class="nav-link n-item" href="/user">User</a>
      <a class="nav-link n-item" href="/contact">Settings</a>
    </div> -->

    <div>
      <%- include('partials/nav'); %>
    </div>

    <div>
      <%- include('partials/script'); %>

      <!-- <script>
        function onClickBtn(id) {
          console.log(document.getElementById(id).id, '----btn-id');

          const pageTitle = document.getElementById(id).value;

          $.get( "user", {title: pageTitle }, function( data ) {
            console.log(data)
            $( ".result" ).html( data );
            console.log('ok')
          });
        }
      </script> -->
    </div>
  </body>
</html>
